<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About our website</title>
</head>
<body>
    <div class ="container" style="text-align:center">
        {%include 'navbar.html'%}
     <h1>About Website.</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio optio nulla veritatis facilis similique magni aliquam beatae ipsa quaerat, nisi asperiores rem voluptatum corrupti quod. Maxime modi hic cupiditate harum reiciendis debitis necessitatibus doloribus, fugit nobis ducimus quam laboriosam aliquam esse, impedit illo optio enim nesciunt, dolorem deleniti cum suscipit.</p>
     <button>contact us</button>
    </div>
</body>
</html>